[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
jupyterlab = "*"
aiohttp = "*"
"flake8" = "*"
mypy = "*"
tornado = "<5"
tqdm = "*"
parsel = "*"
toolz = "*"

[dev-packages]

[requires]
python_version = "3.7"
